@import './fonts/fonts.css';

.App {
    font-family: 'Luxora Grotesk', 'SF Pro Display', serif;
    color: #333;
    letter-spacing: 1px;
    position: absolute;
    top: 15px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    &__staking-countdown {
        position: absolute;
        left: 67px;
        top: 80px;
        display: flex;
        flex-direction: column;
        color: white;
        text-shadow: 1px 0px 0 #22222290, 0px 1px 0 #22222290, 1px 1px 0 #22222290;
        width: fit-content;
        text-align: center;
        gap: 10px;
        transition: 1s all ease-in;

        &__warning {
            font-size: 15px;
        }

        &__timer {
            font-size: 33px;
            font-family: 'CaskaydiaCove Nerd Font Mono';
        }
    }

    &__header {
        margin: 15px 0;

        nav {
            position: relative;
            right: 60px;

            ul {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                justify-content: flex-end;
                gap: 60px;

                li {
                    a {
                        text-decoration: none;
                        color: white;
                        text-shadow: 1px 0px 0 #22222290, 0px 1px 0 #22222290, 1px 1px 0 #22222290;
                        transition: 0.4s text-shadow ease-in;

                        &:hover {
                            text-shadow: 2px 1px 0 #22222290, -1px 0 0 #22222290, 1px 0 0 #22222290, 0 1px 0 #22222290,
                                1px 1px 0 #22222290;
                        }
                    }
                }
            }
        }

        &__connect-wallet {
            position: absolute;
            top: 60px;
            right: 60px;
            font-size: 14px;

            &__emoji {
                font-size: 10px;

                &:after {
                    content: ' ';
                }
            }
        }

        a.App__header__connect-wallet {
            color: white;
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
            transition: 0.15s text-shadow;

            &:hover {
                text-shadow: 1px 1px 0 #22222290, 0 1px 0 #22222290, 1px 1px 0 #22222290;
            }
        }

        &__allocate-rewards,
        &__connect-wallet:not(a) {
            width: 180px;
            padding: 8px 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            letter-spacing: 0.6px;
            box-shadow: 0px 4px 2px 3px #5851db;
            transition: all 0.1s ease-in;
            font-size: 14px;
            will-change: transform;

            &:hover {
                transform: translateY(-1px);
            }

            &:active {
                transform: translateY(3px);
            }
        }

        &__allocate-rewards {
            position: absolute;
            right: 60px;
            top: 90px;
        }

        &__logo {
            position: absolute;
            left: 60px;
            top: 15px;
            font-size: 32px;
            text-decoration: none;
            font-weight: 500;
            font-family: 'Luxora Grotesk', 'Luxora-Grotesk-Regular', 'SF Pro Display', serif;
            color: white;
            text-shadow: 2px 1px 0 #1da1f2, -1px 0 0 #0e71c8, 1px 0 0 #3b5990, 0 1px 0 #e1306c, 1px 1px 0 #0078d7;
            transition: 2s text-shadow ease-in;

            &:hover {
                text-shadow: 2px 1px 0 #22222290, -1px 0 0 #22222290, 1px 0 0 #22222290, 0 1px 0 #22222290,
                    1px 1px 0 #22222290;
            }
        }
    }

    &__title {
        position: relative;
        top: 30px;
        pointer-events: none;
        text-align: center;
        color: white;
        text-shadow: 2px 3px 0 #22222290, 2px 0 0 #22222290, 2px -1px 0 #22222290, -2px 1px 0 #22222290,
            2px 1px 0 #22222290;

        h1 {
            font-size: 48px;
            margin: 5px auto;
            letter-spacing: 3px;
        }

        h2 {
            margin: 0;
        }
    }

    &__credit {
        position: fixed;
        right: 15px;
        bottom: 15px;

        &-link {
            font-size: 12px;
            text-decoration: none;
            color: white;
            text-shadow: 1px 0px 0 #22222290, 0px 1px 0 #22222290, 1px 1px 0 #22222290;
            transition: 0.4s text-shadow ease-in;

            &:hover {
                text-shadow: 2px 1px 0 #22222290, -1px 0 0 #22222290, 1px 0 0 #22222290, 0 1px 0 #22222290,
                    1px 1px 0 #22222290;
            }
        }
    }

    &__fee-notice {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -5px;
        color: #fff;
        font-size: 11px;
        text-shadow: 1px 0px 0 #22222290, 0px 1px 0 #22222290, 1px 1px 0 #22222290;
    }

    &__connect-message {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
        bottom: 50%;
        font-weight: bold;
    }
}

.emoji__container {
    display: inline-block;

    .emoji {
        font-size: 42px;
        margin: 0 8px;
        display: inline-block;
        will-change: transform;

        &:nth-child(2n) {
            animation: flip1 3s linear infinite;
        }

        &:nth-child(2n + 1) {
            animation: flip2 3s linear infinite;
        }
    }
}

.info-sections {
    position: relative;
    top: 90px;

    &__content {
        width: 60%;
        margin: 0 auto;
        background-color: white;
        padding: 60px;
        font-size: 24px;
        color: #46484a;
        box-shadow: 0px 2px 2px 3px #5851db;
    }
}

body::before {
    content: '';
    position: fixed;
    width: 200%;
    height: 200%;
    z-index: -1;
    background-position: center;
    background-size: 100% 100%;
    background-image: linear-gradient(-45deg, #5851db 0%, #833ab4 25%, #c13584 80%, #fd1d1d 100%);
    animation: AnimateBG 20s ease infinite;
    will-change: transform;
}

.fade-in {
    animation: fadein 0.4s;
}

@keyframes AnimateBG {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(-50%, -50%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes flip1 {
    0% {
        transform: translateY(5px) rotateY(0);
    }
    50% {
        transform: translateY(-5px) rotateY(180deg);
    }
    100% {
        transform: translateY(5px) rotateY(360deg);
    }
}

@keyframes flip2 {
    0% {
        transform: translateY(-5px) rotateY(45deg);
    }
    50% {
        transform: translateY(5px) rotateY(215deg);
    }
    100% {
        transform: translateY(-5px) rotateY(405deg);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

//@import './no-animations.scss';
@import './Shine.scss';
@import './Spinner.scss';
