.card__element {
    position: relative;
    margin: 60px 45px;
    border: 1px solid #f0f0f0;
    font-size: 12px;
    padding: 15px 15px 40px;
    border-radius: 10px;
    background-color: white;

    &--blue {
        box-shadow: 0px 4px 2px 2px #5851db;
    }

    &--red {
        box-shadow: 0px 4px 2px 2px #c13584;
    }

    &__rank {
        font-size: 16px;
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Helvetica Neue';
        font-variant: small-caps;
        font-weight: 500;
    }

    &__stake-button {
        position: absolute;
        display: inline-block;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);

        button {
            outline: none;
            font-size: 14px;
            padding: 5px 20px;
            border-radius: 0 0 3px 3px;
            background-color: white;
            box-shadow: 0px 4px 0px -2px #5851db;
            letter-spacing: 1px;
        }
    }

    &__photo {
        height: 350px;
        width: 265px;
        object-fit: cover;
    }

    &-info {
        text-transform: lowercase;
        font-variant: small-caps;

        div {
            display: inline-block;
        }

        &--name {
            text-align: left;
            font-size: 18px;
            float: left;
        }

        &--net-worth {
            text-align: right;
            font-size: 16px;
            float: right;
        }

        &--country {
            text-align: left;
            color: #999;
            float: left;
            clear: left;
        }
    }

    &__loading {
        height: 350px;
        width: 265px;
    }
}
