.list__container {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: 0 auto;

    .list {
        border-radius: 0 0 3px 3px;
        background-color: white;
        box-shadow: 0px 5px 2px 3px #5851db;

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border-bottom: 1px solid #ddd;
            overflow: hidden;
            padding: 15px 0;
            font-family: 'Luxora-Grotesk-Medium', serif;

            &--element {
                text-align: center;
                flex-basis: calc(100% / 7);
                font-size: 12px;
            }
        }
    }
}

.App__credit {
    position: fixed;
    right: 15px;
    bottom: 15px;

    &-link {
        font-size: 12px;
        text-decoration: none;
        color: white;
        text-shadow: 1px 0px 0 #22222290, 0px 1px 0 #22222290, 1px 1px 0 #22222290;
        transition: 0.4s text-shadow ease-in;

        &:hover {
            text-shadow: 2px 1px 0 #22222290, -1px 0 0 #22222290, 1px 0 0 #22222290, 0 1px 0 #22222290,
                1px 1px 0 #22222290;
        }
    }
}
