.list__container {
    display: flex;
    flex-direction: column;

    width: 75%;
    margin: 0 auto;

    .list {
        border-radius: 0 0 10px 10px;
        border: 1px solid #eee;
        background-color: white;

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border-bottom: 1px solid #eee;
            overflow: hidden;
            padding: 15px 0;

            &--element {
                text-align: center;
                flex-basis: calc(100% / 6);
                font-size: 14px;
            }
        }
    }

    .search-bar {
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }
}
