.list__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    transition: 0.25s background-color ease-in-out;

    &:last-of-type {
        border-bottom: none;
    }

    &:hover {
        background-color: #f9f9f9;
    }

    &:hover:last-of-type {
        //border-radius: 15px;
    }

    .list__element {
        text-align: center;
        flex-basis: calc(100% / 7);
        font-size: 13px;
        line-height: 90px;
        color: #46484a;

        &--rank {
        }

        &--stake-button {
            padding: 5px 15px;
            border: 1px solid #eee;
            border-radius: 4px;
            letter-spacing: 1px;
            font-size: 12px;
            cursor: pointer;
            background-image: linear-gradient(-135deg, #1da1f2, #5851db);
            color: white;
            text-shadow: 0 0 4px #333;
            transition: 0.2s border-color ease-in, 0.2s text-shadow ease-in;

            &:hover {
                border: 1px #213fca solid;
                text-shadow: 1px 0px 0 rgb(34 34 34 / 56%), 0px 1px 0 rgb(34 34 34 / 56%);
            }
        }

        &--net-worth {
            color: #52b788;
        }

        &--stakers {
        }

        &--total-value-locked {
            &--none {
                font-size: 10px;
                font-family: serif;
                position: relative;
                top: -1px;
            }
        }
    }
}
