.list__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    transition: 0.25s background-color ease-in-out;

    &:hover {
        background-color: #f9f9f9;
    }

    &:hover:last-of-type {
        //border-radius: 15px;
    }

    .list__element {
        text-align: center;
        flex-basis: calc(100% / 7);
        font-size: 13px;
        line-height: 90px;
        color: #46484a;

        &--rank {
        }

        &--stake-button {
            padding: 5px 15px;
            border: 1px solid #eee;
            border-radius: 4px;
            letter-spacing: 1px;
            color: #333;
            font-size: 12px;
        }

        &--net-worth {
            color: #52b788;
        }

        &--stakers {
        }
    }
}

.list__row:last-of-type {
    border-bottom: none;
}
