.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: white;
    height: 600px;
    width: 400px;
    border: 3px solid #5851db;
    box-shadow: 0 0 60px #00000095;
}

.modal__overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 30%;
}
