.page__indices {
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    top: 35px;
    justify-content: center;
    gap: 45px;

    p {
        color: white;
        cursor: pointer;

        &:active {
            opacity: 0.5;
            text-shadow: 0 0 5px 5px #fff;
        }
    }

    .page--active {
        color: #222;
    }
}
