.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.group-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-evenly;
}

.box-push-left {
  height: 422px;
  width: 299px;
  margin: 60px 45px;
}
