.pagination-button {
  margin: 15px 30px;
  font-size: 14px;

  .index-of {
    float: left;
    padding: 10px 0;
  }

  .buttons {
    float: right;

    div {
      border: 1px solid #e9e9e9;
      display: inline-block;
      border-radius: 5px;
      background-color: white;
    }

    div:first-of-type {
      margin-right: 15px;
      padding: 8px 12px;
    }

    div:last-of-type {
      padding: 8px 8px 8px 15px;
    }
  }

  .active {
    &:hover {
      background-color: #e9e9e9;
      border: 1px solid #bbb;
    }
  }

  .disabled {
    color: #bbb;
  }
}
