@font-face {
    font-family: 'Luxora Grotesk';
    src: url('LuxoraGrotesk-Thin.eot');
    src: local('Luxora Grotesk Thin'), local('LuxoraGrotesk-Thin'),
        url('LuxoraGrotesk-Thin.eot?#iefix') format('embedded-opentype'),
        url('LuxoraGrotesk-Thin.woff2') format('woff2'),
        url('LuxoraGrotesk-Thin.woff') format('woff'),
        url('LuxoraGrotesk-Thin.ttf') format('truetype'),
        url('LuxoraGrotesk-Thin.svg#LuxoraGrotesk-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luxora Grotesk';
    src: url('LuxoraGrotesk-Light.eot');
    src: local('Luxora Grotesk Light'), local('LuxoraGrotesk-Light'),
        url('LuxoraGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('LuxoraGrotesk-Light.woff2') format('woff2'),
        url('LuxoraGrotesk-Light.woff') format('woff'),
        url('LuxoraGrotesk-Light.ttf') format('truetype'),
        url('LuxoraGrotesk-Light.svg#LuxoraGrotesk-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luxora Grotesk';
    src: url('LuxoraGrotesk-Regular.eot');
    src: local('Luxora Grotesk Regular'), local('LuxoraGrotesk-Regular'),
        url('LuxoraGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('LuxoraGrotesk-Regular.woff2') format('woff2'),
        url('LuxoraGrotesk-Regular.woff') format('woff'),
        url('LuxoraGrotesk-Regular.ttf') format('truetype'),
        url('LuxoraGrotesk-Regular.svg#LuxoraGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luxora Grotesk';
    src: url('LuxoraGrotesk-Medium.eot');
    src: local('Luxora Grotesk Medium'), local('LuxoraGrotesk-Medium'),
        url('LuxoraGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('LuxoraGrotesk-Medium.woff2') format('woff2'),
        url('LuxoraGrotesk-Medium.woff') format('woff'),
        url('LuxoraGrotesk-Medium.ttf') format('truetype'),
        url('LuxoraGrotesk-Medium.svg#LuxoraGrotesk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luxora Grotesk';
    src: url('LuxoraGrotesk-Bold.eot');
    src: local('Luxora Grotesk Bold'), local('LuxoraGrotesk-Bold'),
        url('LuxoraGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('LuxoraGrotesk-Bold.woff2') format('woff2'),
        url('LuxoraGrotesk-Bold.woff') format('woff'),
        url('LuxoraGrotesk-Bold.ttf') format('truetype'),
        url('LuxoraGrotesk-Bold.svg#LuxoraGrotesk-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

